body{

background:#0d0d0d;

font-family:Arial, Helvetica, sans-serif;

margin:0;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

color:white;

}

.container{

text-align:center;

}

h1{

font-size:60px;

color:#FFD700;

margin-bottom:15px;

}

p{

font-size:22px;

color:#ddd;

}

a{

display:inline-block;

margin-top:40px;

padding:18px 45px;

background:#FFD700;

color:#000;

text-decoration:none;

font-size:22px;

font-weight:bold;

border-radius:12px;

transition:.3s;

}

a:hover{

background:white;

}